@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

#container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#btn button {
  background: none;
  border: 0;
  margin: 0.5rem 0;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px transparent;
  color: #4b507a;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

#btn button::before, #btn button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

#btn .loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#btn .center {
  box-shadow: inset 0 0 0 2px transparent;
}

#btn .center:hover {
  color: white;
}

#btn .center::before, #btn .center::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}

#btn .center::before {
  border-top: 2px solid #ff8a30;
  border-bottom: 2px solid #ff8a30;
  transform: scale3d(0, 1, 1);
}

#btn .center::after {
  border-left: 2px solid #fbca67;
  border-right: 2px solid #fbca67;
  transform: scale3d(1, 0, 1);
}

#btn .center:hover::before, #btn .center:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s;
}

#btn .spin {
  width: 5em;
  height: 5em;
  padding: 0;
}

#btn .spin:hover {
  color: #3498db;
}

#btn .spin::before, #btn .spin::after {
  top: 0;
  left: 0;
}

#btn .spin::before {
  border: 2px solid transparent;
}

#btn .spin:hover::before {
  border-top-color: #3498db;
  border-right-color: #3498db;
  border-bottom-color: #3498db;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

#btn .spin::after {
  border: 0 solid transparent;
}

#btn .spin:hover::after {
  border-top: 2px solid #3498db;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}

#btn .circle {
  border-radius: 100%;
  box-shadow: none;
}

#btn .circle::before, #btn .circle::after {
  border-radius: 100%;
}

#btn .thick:hover {
  color: #fff;
  font-weight: 700;
}

#btn .thick::before {
  border: 2.5em solid transparent;
  z-index: -1;
}

#btn .thick::after {
  mix-blend-mode: color-dodge;
  z-index: -1;
}

#btn .thick:hover::before {
  background: #f45e61;
  border-top-color: #f45e61;
  border-right-color: #f45e61;
  border-bottom-color: #f45e61;
  transition: background 0s linear 0.4s, border-top-color 0.15s linear, border-right-color 0.15s linear 0.15s, border-bottom-color 0.15s linear 0.25s;
}

#btn .thick:hover::after {
  border-top: 2.5em solid #f45e61;
  border-left-width: 2.5em;
  border-right-width: 2.5em;
}

#container {
  width: 80%;
  max-width: 560px;
  margin: 0.5rem auto 0rem;
  text-align: center;
  padding: 1.5rem 0;
  /* Progressbar */
}

#container #questionSheet {
  color: black;
}

#container #questionSheet #questionPanel {
  width: 100%;
  height: 300px;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}

#container #questionSheet #questionPanel #question {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  letter-spacing: 2.5px;
  line-height: 1.65;
  overflow: hidden;
  display: grid;
  place-items: center;
}

#container #questionSheet #questionPanel #question img {
  max-width: 100%;
  height: 220px;
  object-fit: contain;
}

#container #questionSheet #questionPanel #question p {
  margin-top: 2rem;
  font-size: 1.2rem;
}

#container #answerSheet {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#container #answerSheet input {
  opacity: 0;
}

#container .choiceLabel {
  cursor: pointer;
  font-family: "Montaga", serif;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#container .choiceLabel p {
  margin-right: 10px;
}

#container #answerSheet input:checked + label {
  color: greenyellow;
}

#container .answer input:checked + label .icon {
  background-image: url("/img/icons8-ok-64.png");
}

#container .answer label .icon {
  background: url("../img/icons8-filled-circle-64.png");
  background-size: 40px;
  height: 40px;
  width: 40px;
}

#container #progressBar {
  margin: 1rem auto;
  width: 80%;
  background-color: #3498db;
  border-radius: 5px;
  overflow: hidden;
}

#container #progress {
  height: 10px;
  width: 0;
  border-right: 4px dashed #fbca67;
  background-color: #fbca67;
}
/*# sourceMappingURL=style.css.map */